*.dll
*.exe
*.so
*.cdl
*.cdl64
*.dylib
*.lib
*.ilk
*.exp
*.pdb
*.pyc
*.DS_Store
*.sconsign.dblite
*.vcxproj.user
*.zip
*.h5
*.suo
*.pyc
*~
*.bak
*.aux
*.log
*.sdf
*.backup
*.xcodeproj
*.vcxproj
*.vcxproj.filters

projectsettings.props
default.profraw
c4d_debug.txt
generated
.DS_Store
atmosphere.pdb
atmosphere.xdl64
atmosphere.xlib
